params {
    tools {
        tangram {		
            	container = 'nhecker/tangram-sc:1.0.2'
	    	off = 'h5ad'
		// name of cell type annotation used for mapping
	    	annotation = 'cell.type'
		// downsample to maximum number of cells per cluster
		//max_cells = 1000
		// change to 'all' for MERFISH-like data, or 'list' for a user-specified gene list
		gene_selection_method = 'marker_genes'
		// user-specified gene list file, one gene per row, no header
		//gene_list = ''
		// method for computing marker genes if not computed already
		rank_gene_method = 'wilcoxon'
		number_genes = 100
		qvalue = 0.05
		// maximum sparsity per cluster
		max_sparsity = 0.5
		mapping_mode = 'cells'
		// log-normalize scRNAseq data
		normalize_scRNAseq = true
		// log-normalize spatial data
		normalize_spatial = true
		// change to true to project gene expression from single cell reference data
		project_gex = false
		// device for computing mapping, e.g. '0' for 'cuda: 0' change to 'cpu' for using CPU
		device = '0'
		report_ipynb = '/src/tangram/bin/reports/tangram_celltype_projection_report.ipynb'
		// normalize scores after mapping cell types (recommended)
	 	normalize_celltype_scores = true
		// mapping score quantile for binary assignments of celltypes
		quantile_mapping_score = 0.95
		// compute squidpy neighborhood statistics, useful cell-segmented spatial data (set to 'true')
         	squidpy_statistics = false
        }
    }
    data {
	// file path to single RNA reference
        reference_data {
            file_paths = ''
            suffix = ''
        }
    }
}
