
manifest {
    name = 'SpatialNF'
    description = 'Spatial transcriptomics NextFlow pipelines'
    homePage = 'https://github.com/aertslab/SpatialNF'
    version = ''
    mainScript = 'main.nf'
    defaultBranch = 'master'
    nextflowVersion = '!>=20.10.0'
}

// load these configs first:
includeConfig 'conf/global.config'
includeConfig 'conf/compute_resources.config'
includeConfig 'conf/test_disabled.config'
includeConfig 'src/utils/utils.config' // utilities config


profiles {

    standard {
        process.executor = 'local'
    }
    qsub {
        process.executor = 'pbs'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    vpcx {
        includeConfig 'conf/vpcx.config'
    }
    vsc {
        includeConfig 'conf/vsc.config'
    }
    min {
        includeConfig 'conf/min.config'
    }
    test {
        includeConfig 'conf/test.config'
    }

    // workflow-specific profiles:
    single_sample {
        if(min && min.enabled) {
            includeConfig 'src/scanpy/conf/min.config'
        } else {
            includeConfig 'src/scanpy/scanpy.config'
        }
        includeConfig 'src/utils/conf/scope.config'
    }
    multi_sample {
        includeConfig 'src/utils/conf/h5ad_concatenate.config'
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/utils/conf/scope.config'
    }
    // scanpy profiles:

    scanpy_filter {
        includeConfig 'src/scanpy/conf/scanpy_filter.config'
    }
    scanpy_data_transformation {
        includeConfig 'src/scanpy/conf/data_transformation.config'
    }
    scanpy_normalization {
        includeConfig 'src/scanpy/conf/normalization.config'
    }
    scanpy_regress_out {
        includeConfig 'src/scanpy/conf/regress_out.config'
    }
    // scope profiles: 

    scope {
        includeConfig 'src/utils/conf/scope.config'
    }

    // data profiles:
    tenx {
        includeConfig 'src/channels/conf/tenx_cellranger_mex.config'
    }
    h5ad {
        includeConfig 'src/channels/conf/h5ad.config'
    }
    loom {
        includeConfig 'src/channels/conf/loom.config'
    }
    tsv {
        includeConfig 'src/channels/conf/tsv.config'
    }
    csv {
        includeConfig 'src/channels/conf/csv.config'
    }
    spatial_csv {
        includeConfig 'src/channels/conf/spatial_csv.config'
    }
    coordinates_csv {
        includeConfig 'src/channels/conf/coordinates_csv.config'
    }

    // metadata profiles:

    dm6 {
        includeConfig 'conf/genomes/dm6.config'
    }

    hg38 {
        includeConfig 'conf/genomes/hg38.config'
    }

    hg19 {
        includeConfig 'conf/genomes/hg19.config'
    }

    mm10 {
        includeConfig 'conf/genomes/mm10.config'
    }

    // utility profiles:

    cell_filter_annotate_and_sample_annotate {
        includeConfig 'src/utils/conf/cell_filter.config'
        includeConfig 'src/utils/conf/cell_annotate.config'
        includeConfig 'src/utils/conf/sample_annotate.config'
        includeConfig 'src/utils/conf/h5ad_clean.config'
    }

    utils_sample_annotate {
        includeConfig 'src/utils/conf/sample_annotate.config'
    }
    utils_cell_annotate {
        includeConfig 'src/utils/conf/cell_annotate.config'
    }
    utils_cell_filter {
        includeConfig 'src/utils/conf/cell_filter.config'
    }

    utils_cell_annotate_filter {
        includeConfig 'src/utils/conf/cell_annotate.config'
        includeConfig 'src/utils/conf/cell_filter.config'
    }

    // cluster submission retry profile:
    cluster_retry {
        includeConfig 'conf/compute_resources_with_retry.config'
    }

    // logger profiles
    log {
        includeConfig 'conf/logger.config'
    }

    // test profiles:

    test__cell_annotate_filter {
        includeConfig 'conf/test__cell_annotate_filter.config'
    }
    test__single_sample {
        includeConfig 'conf/test__single_sample.config'
    }
    test__single_sample_param_exploration {
        includeConfig 'conf/test__single_sample_param_exploration.config'
    }

    /*
        *** Spatial profiles ***
    */
    reference_h5ad {
       includeConfig 'src/channels/conf/reference_h5ad.config'
    }
    reference_loom {
       includeConfig 'src/channels/conf/reference_loom.config'
    }
    
    spatialde {
        includeConfig 'src/spatialde/spatialde.config'
    }

    spage {
        includeConfig 'src/spage/spage.config'
    }

    spage2vec {
        includeConfig 'src/spage2vec/spage2vec.config'
    }

    tangram {
        includeConfig 'src/tangram/tangram.config'
    }
    squidpy {
        includeConfig 'src/squidpy/squidpy.config'
    }
    
    /*
        *** the following profiles should be loaded last ***
    */
    test__compute_resources {
        // must be used with GitHub Actions tests to limit compute resources
        includeConfig 'conf/test__compute_resources.config'
    }

}


timeline {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/execution_report.html"
}
trace {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/pipeline_dag.svg"
}
min {
    enabled = false
}
vsc {
    enabled = false
}

