params {
    data {
       coordinates_csv {
           file_paths = ''
           suffix = 'csv'
       }
       binsize = 200
    }
    utils {
        file_converter {
             iff = 'coordinates_csv'
        }
    }
    tools {
        scanpy {
            feature_selection {
                subsetHvg = false
            }
            dim_reduction {
                pca {
                    useHvg = false
                }
            }
            filter {
                cellFilterMinNGenes = 10
            }
       }
     }
}
