params {
    tools {
        spage {
            container = 'gapartel/spage'
            label_transfer = true
            gene_imputation = true
            spatial_statistics = true
            label_key = ''
            off = 'h5ad'
        }
    }
    data {
        reference_data {
            file_path = ''
            suffix = ''
        }
    }
}
includeConfig '../squidpy/squidpy.config'
