manifest {
   name = 'SpatialNF'
   description = 'Spatial transcriptomics NextFlow pipelines'
   homePage = 'https://github.com/aertslab/SpatialNF'
   version = ''
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!>=20.10.0'
}

params {
   global {
      project_name = 'MouseCortex'
      outdir = 'out'
      species = 'mouse'
      genome {
         assembly = 'mm10'
      }
   }
   misc {
      test {
         enabled = false
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.4.0'
      file_converter {
         off = 'h5ad'
         tagCellWithSampleId = true
         remove10xGEMWell = false
         useFilteredMatrix = true
         makeVarIndexUnique = false
         iff = 'spatial_csv'
      }
      publish {
         compressionLevel = 6
         annotateWithBatchVariableName = false
         mode = 'link'
      }
      scope {
         genome = 'mm10'
         tree {
            level_1 = 'mouse'
            level_2 = 'cortex'
            level_3 = 'spatialDE'
         }
      }
   }
   tools {
      scanpy {
         container = 'vibsinglecellnf/scanpy:1.8.1'
         report {
            annotations_to_plot = []
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            flavor = 'seurat'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
            subsetHvg = false
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            nPcs = 50
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               nComps = 50
               off = 'h5ad'
               useHvg = false
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               off = 'h5ad'
            }
         }
         clustering {
            preflight_checks = true
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            method = 'louvain'
            resolution = 0.8
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            groupby = 'louvain'
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterStrategy = 'fixedthresholds'
            cellFilterMinNGenes = 3
            cellFilterMaxNGenes = 4000
            cellFilterMaxPercentMito = 0.15
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            targetSum = 10000
            off = 'h5ad'
         }
      }
      spatialde {
         container = 'nhecker/spatialde:latest'
         off = 'h5ad'
         min_cells = 3
         thr_qval = 0.05
         method_pval_correction = 'bonferroni'
         min_fsv = 0.5
         normalize_naivede = true
         run_aeh = true
         c = 5
         estimate_l = 'mean'
         adjust_l = 0.2
         report_ipynb = '/src/spatialde/bin/reports/spatialde_spatially_variable_genes_report.ipynb'
         report_aeh_ipynb = '/src/spatialde/bin/reports/spatialde_automatic_expression_histology.ipynb'
      }
   }
   data {
      spatial_csv = '/lustre1/project/stg_00002/lcb/nhecker/software/git/SpatialNF/examples/data/mouse_cortex_molecular_cartography/*/outs'
   }
}

process {
   executor = 'local'
   cpus = 2
   memory = '60 GB'
   clusterOptions = '-A cluster_account'
   withLabel:compute_resources__default {
      time = '1h'
   }
   withLabel:compute_resources__minimal {
      cpus = 1
      memory = '1 GB'
   }
   withLabel:compute_resources__mem {
      cpus = 4
      memory = '160 GB'
   }
   withLabel:compute_resources__cpu {
      cpus = 20
      memory = '80 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 1
      memory = '160 GB'
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel:compute_resources__gpu {
      memory = '60 GB'
      cpus = 1
      maxForks = 1
      containerOptions = '--nv'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

vsc {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '--cleanenv -H $PWD -B ${HOME},/lustre1,/scratch,/staging'
}
