params {
    tools {
        spatialde {
            container = 'nhecker/spatialde:latest'
	    off = 'h5ad'
	    // filter genes by minimum number of cells expressing gene
	    min_cells = 3
	    // corrected p-value threshold for considering gene significant
	    thr_qval = 0.05
	    // method for correcting p-values: 'qval' (spatialDE default), 'bonferroni', 'holm', 'fdr_bh'
	    method_pval_correction = 'bonferroni'
	    // minimum fracion of spatial variance for considering gene significant
	    min_fsv = 0.5
	    // assumes raw, cell filtered data as input that should be normalized with NaiveDE
	    normalize_naivede = true
	    // identify spatial patterns through AEH
	    run_aeh = true
	    //arbitrary number of expected patterns (when running AEH); should be re-run with different values 
	    c = 5
	    // estimate length scale 'l' through 'median' or 'mean', use 'none' and parameter 'l' to use user-specified l value
	    estimate_l = 'mean'
	    // adjust l by adding a fraction of estimated l, 0 for no adjustment
	    adjust_l = 0.2
	    report_ipynb = '/src/spatialde/bin/reports/spatialde_spatially_variable_genes_report.ipynb'
	    report_aeh_ipynb = '/src/spatialde/bin/reports/spatialde_automatic_expression_histology.ipynb'
        }
    }
}
