params {
    tools {
        squidpy {
            container = 'gapartel/squidpy:1.1.2.dev'
            report {
                annotations_to_plot = []
            }
            spatial_graph {
                spatial_key = ''
                coord_type = ''
                off = 'h5ad'
            }
            spatial_statistics {
                report_ipynb = "${params.misc.test.enabled ? '../../..' : ''}/src/squidpy/bin/reports/spatial_squidpy_statistics.ipynb"
                cluster_key = ''
                connectivity_key = ''
                off = 'h5ad'
            }
            lr_analysis {
                cluster_key = ''
                off = 'h5ad'
            }
        }
    }
}
